<html>

<head></head>

<body>
    <h1>Delete Book</h1>
    <p>Are you sure you want to delete {{book.title}}?</p>
    <form action="{{url_for('deleteBook', book_id=book.id)}}" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="{{url_for('showBook')}}">Cancel</a>
</body>

</html>