<html>

<head></head>

<body>
    <h1>Edit Book</h1>
    <form action="{{url_for('editBook', book_id=book.id)}}" method="POST">
        <label for="book_name">
            <p>Name:</p>
        </label>
        <input type="text" id="book_name" name="book_name" placeholder="{{book.title}}">
        <input type="submit" value="Edit">
    </form>
    <a href="{{url_for('showBook')}}">Cancel</a>
</body>

</html>