<html>

<head></head>

<body>
    <h1>New Book</h1>
    <form action="{{url_for('newBook')}}" method="POST">
        <label for="new_book">
            <p>Name:</p>
        </label>
        <input type="text" id="new_book" name="new_book" placeholder="Enter New Book Title">
        <input type="submit" value="Create">
    </form>
</body>

</html>