<html>

<head></head>

<body>
    <h1>Books</h1>
    <a href="{{url_for('newBook')}}">Add A Book</a>
    <br><br>
    {% for book in books %}
    <div>
        <p>{{book.title}}</p>
        <p><a href="{{url_for('editBook', book_id=book.id)}}">Edit Book</a></p>
        <p><a href="{{url_for('deleteBook', book_id=book.id)}}">Delete Book</a></p>
        <br>
    </div>
    {% endfor %}
</body>

</html>